[Desktop Entry]
Version=1.0
Type=Link
Name=(1) Ruby On Rails - Has Many Through Associations - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=Cj1FhPy9sz4
