[Desktop Entry]
Version=1.0
Type=Link
Name=`respond_to` without all the pain - Justin Weiss
Comment=
Icon=user-bookmarks
URL=https://www.justinweiss.com/articles/respond-to-without-all-the-pain/
