[Desktop Entry]
Version=1.0
Type=Link
Name=Active Record Associations — Ruby on Rails Guides
Comment=
Icon=user-bookmarks
URL=https://guides.rubyonrails.org/association_basics.html
