[Desktop Entry]
Version=1.0
Type=Link
Name=callback cheat sheet
Comment=
Icon=user-bookmarks
URL=https://juliannaseiki.medium.com/rails-callbacks-cheat-sheet-824295a1a14d
