[Desktop Entry]
Version=1.0
Type=Link
Name=Default Value Rails Migration With Code Examples
Comment=
Icon=user-bookmarks
URL=https://www.folkstalk.com/2022/09/default-value-rails-migration-with-code-examples.html
