[Desktop Entry]
Version=1.0
Type=Link
Name=Dynamic select dropdown Rails 5 / AJAX - Stack Overflow
Comment=
Icon=user-bookmarks
URL=https://stackoverflow.com/questions/48462992/dynamic-select-dropdown-rails-5-ajax
