[Desktop Entry]
Version=1.0
Type=Link
Name=faker-ruby/faker: A library for generating fake data such as names, addresses, and phone numbers.
Comment=
Icon=user-bookmarks
URL=https://github.com/faker-ruby/faker#default
