[Desktop Entry]
Version=1.0
Type=Link
Name=Install Ruby On Rails on Ubuntu 22.04 Jammy Jellyfish | GoRails
Comment=
Icon=user-bookmarks
URL=https://gorails.com/setup/ubuntu/22.04
