[Desktop Entry]
Version=1.0
Type=Link
Name=ruby - How to switch to an older version of rails - Stack Overflow
Comment=
Icon=user-bookmarks
URL=https://stackoverflow.com/questions/17052629/how-to-switch-to-an-older-version-of-rails
