[Desktop Entry]
Version=1.0
Type=Link
Name=ruby - Weird rails error "permission denied: bin/rails" for old rails apps - Stack Overflow
Comment=
Icon=user-bookmarks
URL=https://stackoverflow.com/questions/23297832/weird-rails-error-permission-denied-bin-rails-for-old-rails-apps
