[Desktop Entry]
Version=1.0
Type=Link
Name=Ruby on Rails Generating Views - Stack Overflow
Comment=
Icon=user-bookmarks
URL=https://stackoverflow.com/questions/5614083/ruby-on-rails-generating-views
