[Desktop Entry]
Version=1.0
Type=Link
Name=Ruby in Twenty Minutes
Comment=
Icon=user-bookmarks
URL=https://www.ruby-lang.org/en/documentation/quickstart/2/
