[Desktop Entry]
Version=1.0
Type=Link
Name=Ruby on Rails: how to render a string as HTML? - Stack Overflow
Comment=
Icon=user-bookmarks
URL=https://stackoverflow.com/questions/4576932/ruby-on-rails-how-to-render-a-string-as-html
