[Desktop Entry]
Version=1.0
Type=Link
Name=Ruby on Rails Guides: Migrations
Comment=
Icon=user-bookmarks
URL=https://guides.rubyonrails.org/v3.2/migrations.html#supported-types
