[Desktop Entry]
Version=1.0
Type=Link
Name=What are the Ruby on Rails column types? - Full Stack Heroes
Comment=
Icon=user-bookmarks
URL=https://fullstackheroes.com/tutorials/rails/column-types/
