[Desktop Entry]
Version=1.0
Type=Link
Name=How to align two div's horizontally using HTML ? - GeeksforGeeks
Comment=
Icon=user-bookmarks
URL=https://www.geeksforgeeks.org/how-to-align-two-divs-horizontally-using-html/
