[Desktop Entry]
Version=1.0
Type=Link
Name=HTML number input min and max not working properly - Stack Overflow
Comment=
Icon=user-bookmarks
URL=https://stackoverflow.com/questions/32936352/html-number-input-min-and-max-not-working-properly
