[Desktop Entry]
Version=1.0
Type=Link
Name=Input - currency - code helper
Comment=
Icon=user-bookmarks
URL=https://mdbootstrap.com/snippets/standard/d-wajszczuk/3241878#js-tab-view
