[Desktop Entry]
Version=1.0
Type=Link
Name=javascript - Combination of async function + await + setTimeout - Stack Overflow
Comment=
Icon=user-bookmarks
URL=https://stackoverflow.com/questions/33289726/combination-of-async-function-await-settimeout
