[Desktop Entry]
Version=1.0
Type=Link
Name=javascript - How to check a radio button with jQuery? - Stack Overflow
Comment=
Icon=user-bookmarks
URL=https://stackoverflow.com/questions/5665915/how-to-check-a-radio-button-with-jquery
