[Desktop Entry]
Version=1.0
Type=Link
Name=jQuery Select Option | How does jQuery Select Option works | Examples
Comment=
Icon=user-bookmarks
URL=https://www.educba.com/jquery-select-option/
