[Desktop Entry]
Version=1.0
Type=Link
Name=GraphQL APIs in Rails - Honeybadger Developer Blog
Comment=
Icon=user-bookmarks
URL=https://www.honeybadger.io/blog/graphql-apis-for-rails/
