[Desktop Entry]
Version=1.0
Type=Link
Name=Meta Tags and Attributes that Google Supports | Google Search Central  |  Documentation  |  Google Developers
Comment=
Icon=user-bookmarks
URL=https://developers.google.com/search/docs/crawling-indexing/special-tags?hl=en&visit_id=638058552219904876-3728634193&rd=1
