[Desktop Entry]
Version=1.0
Type=Link
Name=Responsive websites: 30 examples and 5 best practices - Justinmind
Comment=
Icon=user-bookmarks
URL=https://www.justinmind.com/blog/examples-responsive-website-design/
