[Desktop Entry]
Version=1.0
Type=Link
Name=Effectuer la configuration dans la console Google Cloud  |  Maps JavaScript API  |  Google Developers
Comment=
Icon=user-bookmarks
URL=https://developers.google.com/maps/documentation/javascript/cloud-setup?hl=fr#console
