[Desktop Entry]
Version=1.0
Type=Link
Name=Google Maps JavaScript API Episode 1 - Displaying a Map - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=Ad7bS3g87ds
