[Desktop Entry]
Version=1.0
Type=Link
Name=javascript - How to pass an ENV variable into script tag - Stack Overflow
Comment=
Icon=user-bookmarks
URL=https://stackoverflow.com/questions/36415073/how-to-pass-an-env-variable-into-script-tag
