[Desktop Entry]
Version=1.0
Type=Link
Name=Search Code Snippets | google maps api center map multiple markers
Comment=
Icon=user-bookmarks
URL=https://www.codegrepper.com/search.php?answer_removed=1&q=google%20maps%20api%20center%20map%20multiple%20markers
