[Desktop Entry]
Version=1.0
Type=Link
Name=Ruby: How to read/write JSON File | HackerNoon
Comment=
Icon=user-bookmarks
URL=https://hackernoon.com/ruby-how-to-readwrite-json-file-a23h3vxa
