[Desktop Entry]
Version=1.0
Type=Link
Name=Working with JSON - Learn web development | MDN
Comment=
Icon=user-bookmarks
URL=https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON#test_your_skills!
