[Desktop Entry]
Version=1.0
Type=Link
Name=MySQL Cheat Sheet
Comment=
Icon=user-bookmarks
URL=https://gist.github.com/bradtraversy/c831baaad44343cc945e76c2e30927b3#add-new-column
