[Desktop Entry]
Version=1.0
Type=Link
Name=(1) Git Tutorial 5: Undoing/Reverting/Resetting code changes - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=3dk3s4LK-Wg
