[Desktop Entry]
Version=1.0
Type=Link
Name=SWTM-2088_Atlassian-Git-Cheatsheet.pdf
Comment=
Icon=user-bookmarks
URL=file:///home/julinux/Downloads/SWTM-2088_Atlassian-Git-Cheatsheet.pdf
