[Desktop Entry]
Version=1.0
Type=Link
Name=How To Install and Use PostgreSQL on Ubuntu 22.04 | DigitalOcean
Comment=
Icon=user-bookmarks
URL=https://www.digitalocean.com/community/tutorials/how-to-install-and-use-postgresql-on-ubuntu-22-04
