[Desktop Entry]
Version=1.0
Type=Link
Name=How to Use an API with Ruby on Rails (Beginner's Guide) [Ruby API Tutorial]
Comment=
Icon=user-bookmarks
URL=https://rapidapi.com/blog/how-to-use-an-api-with-ruby/
